* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #0f0f0f;
}

#time {
    font-size: 9rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

#focus {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*h2 {*/

/*}*/

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}